<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/icon.jpg">
        <link rel="stylesheet" href='./css/styles.css'>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p id="about-para">This site was created by Raja Shekar. It uses data from Mapbox.com and darksky.net!</p>
        </div>

        {{>footer}}
        
    </body>
</html>